.sidebar {
  width: 100%;
  height: 100%;
  background-color:white;
  padding: 20px 0;
  padding-right: 20px;
  border: 1px solid gray;
  border-radius: 5px;
}
.logo a {
  padding-bottom: 10px;
  margin-bottom: 25px;
  color:black;
  font-size: 20px;
  padding-left: 20px;
text-decoration: none;
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sidebar ul li {
  font-size: 17px;
  padding: 5px 10px 5px;
  color: white;
}
.logoutBtn {
  font-size: 17px;
  color: white;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.sidebar ul li a svg {
  font-size: 20px;
}
.active a{
  background-color: #010103;
  font-weight: bold;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color:white !important;
}